body {
  text-align: center;
  padding: 40px;
  font-family: "Courier New", Courier, monospace;
  background-color: rgb(83, 83, 163);
}

input,
button {
  font-size: 18px;
  padding: 14px;
}

#message {
  font-size: 16px;
  margin-top: 14px;
  font-weight: 600;
}

#score {
  font-size: 16px;
  font-weight: 600;
}

.submit:hover {
  cursor: pointer;
  background-color: rgb(83, 163, 83);
  color: white;
  border-radius: 10px;
}

.try_again:hover {
  cursor: pointer;
  background-color: rgb(163, 83, 83);
  color: white;
  border-radius: 10px;
}
